<mat-card class="standalone__content container-bg mat-elevation-z0">
  <mat-card-content>
    <standalone-logo></standalone-logo>
    <p *ngIf="googleUserNotFoundError" class="mat-subtitle-1 warn center" i18n>
      Sorry, your Google User ID was not found in i-sparkle.
    </p>
    <h2 class="standalone__title accent" i18n>Create Account</h2>
    <div
      class="register"
      fxLayout="row"
      fxLayout.xs="column"
      fxFlexLayoutAlign="center center"
      fxLayoutGap="16px"
    >
      <app-call-to-action
        fxFlex
        icon="supervised_user_circle"
        iconColor="accent"
        i18n-headline
        headline="Student"
        i18n-content
        content="Students can view and complete lessons offered by teachers."
        destination="student"
      ></app-call-to-action>
      <app-call-to-action
        fxFlex
        icon="school"
        iconColor="accent"
        i18n-headline
        headline="Teacher"
        i18n-content
        content="Teachers can select, author, and run lessons with their students."
        destination="teacher"
      ></app-call-to-action>
    </div>
  </mat-card-content>
</mat-card>
