<mat-card class="standalone__content mat-elevation-z0 container-bg center">
  <mat-card-content>
    <standalone-logo></standalone-logo>
    <h2 class="standalone__title accent" i18n>Forgot Username or Password</h2>
    <div
      class="forgot"
      fxLayout="row"
      fxLayout.xs="column"
      fxFlexLayoutAlign="center center"
      fxLayoutGap="16px"
    >
      <app-call-to-action
        fxFlex
        icon="supervised_user_circle"
        iconColor="accent"
        i18n-headline
        headline="Student"
        i18n-content
        content="Look up username or reset password for a student account"
        destination="student"
      ></app-call-to-action>
      <app-call-to-action
        fxFlex
        icon="school"
        iconColor="accent"
        i18n-headline
        headline="Teacher"
        i18n-content
        content="Look up username or reset password for a teacher account"
        destination="teacher"
      ></app-call-to-action>
    </div>
  </mat-card-content>
</mat-card>
