@import
  'style/abstracts/variables',
  'style/abstracts/mixins',
  'style/abstracts/functions';

h2 {
  margin-bottom: 0;
}

.no-runs {
  padding: 16px 0;
}

.mat-divider {
  margin: 0;
}

.run-list {
  padding: 16px 16px 0;

  @media (min-width: breakpoint('sm.min')) {
    padding: 24px 16px 16px;
  }
}

.run-count {
  margin-top: 0;
  font-weight: 600;
}
