@use 'style/abstracts/functions';

.section {
  position: relative;
  padding-bottom: 36px;
}

.section--fullwidth {
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: functions.breakpoint('sm.min')) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.section__header {
  @media (max-width: functions.breakpoint('xs.max')) {
    padding-bottom: 16px;
  }
}

.section__tab {
  padding: 24px 4px;

  @media (min-width: functions.breakpoint('sm.min')) {
    padding: 24px 16px;
  }
}
