<nav class="header__links flex flex-row items-center justify-start">
  @if (location === 'student') {
    <span class="mat-body-1" i18n>Welcome {{ user.firstName }}!</span>
  } @else {
    <div class="flex items-center">
      <a
        class="header-link mat-body-1"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        i18n
        >Teachers</a
      >
      <a
        class="header-link mat-body-1"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        i18n
        >Students</a
      >
      <a
        class="header-link mat-body-1"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        i18n
        >Researchers</a
      >
      <button
        mat-flat-button
        class="header-link mat-body-1"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [matMenuTriggerFor]="iSparkleMenu"
      >
        <span class="menu-link flex items-center">
          <span i18n>i-sparkle</span> <mat-icon>arrow_drop_down</mat-icon>
        </span>
      </button>
      <mat-menu #iSparkleMenu="matMenu" xPosition="before">
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-menu-item
          routerLink=""
          i18n
        >
          Mission
        </a>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-menu-item
          routerLink=""
          i18n
        >
          Partnership
        </a>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-menu-item
          routerLink="/curriculum"
          i18n
        >
          Curriculum
        </a>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-menu-item
          routerLink=""
          i18n
        >
          Tech
        </a>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-menu-item
          routerLink=""
          i18n
        >
          Impact
        </a>
      </mat-menu>
    </div>
  }
  @if (roles.length === 0) {
    <app-header-signin />
  }
</nav>
