<nav class="header__links" [ngSwitch]="location" fxLayout="row" fxLayoutAlign="start center">
  <span class="mat-body-1">
    <ng-container *ngSwitchCase="'teacher'" i18n>Welcome {{ user.firstName }}!</ng-container>
    <ng-container *ngSwitchCase="'student'" i18n>Welcome {{ user.firstName }}!</ng-container>
  </span>
  <ng-container *ngSwitchDefault>
    <div>
      <a
        class="header-link mat-body-2"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        i18n
        >Teachers</a
      >
      <a
        class="header-link mat-body-2"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        i18n
        >Students</a
      >
      <a
        class="header-link mat-body-2"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        i18n
        >Partnerships</a
      >
      <a
        class="header-link mat-body-2"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        i18n
        >Curriculum</a
      >
    </div>
  </ng-container>
  <ng-container *ngIf="!role"> | <app-header-signin></app-header-signin> </ng-container>
</nav>
