a {
  text-decoration: none;
}

.header-link {
  margin: 0 8px;
}

.mat-divider {
  height: 100%;
}

.mat-mdc-button:not(.mat-mdc-icon-button) {
  text-transform: none;
  font-size: 16px;
  margin: 0 4px;
}

.mat-body-1 {
  margin-bottom: 0;
}
