<mat-card class="standalone__content container-bg mat-elevation-z0">
  <mat-card-content>
    <standalone-logo></standalone-logo>
    <h2 class="standalone__title accent" i18n>Student Forgot Username or Password</h2>
    <div
      class="forgot"
      fxLayout="row"
      fxLayout.xs="column"
      fxFlexLayoutAlign="center center"
      fxLayoutGap="16px"
    >
      <app-call-to-action
        fxFlex
        icon="account_circle"
        iconColor="accent"
        i18n-headline
        headline="Username"
        i18n-content
        content="Look up username"
        destination="username"
      ></app-call-to-action>
      <app-call-to-action
        fxFlex
        icon="lock"
        iconColor="accent"
        i18n-headline
        headline="Password"
        i18n-content
        content="Reset password"
        destination="password"
      ></app-call-to-action>
    </div>
  </mat-card-content>
</mat-card>
