@import
  'style/abstracts/variables',
  'style/abstracts/mixins',
  'style/abstracts/functions';

h2 {
  margin-bottom: 0;
}

.content-block {
  overflow: hidden;
}

.mat-divider {
  margin: 0;
}

.run-list {
  padding: 0 16px;

  @media (min-width: breakpoint('sm.min')) {
    padding: 16px;
  }
}

.notice {
  font-weight: 600;
}
