<mat-card class="standalone__content standalone__content--sm mat-elevation-z0 center">
  <mat-card-content>
    <div class="standalone__logo">
      <a routerLink="/">
        <picture>
          <source
            type="image/webp"
            srcset="assets/img/i-sparkle-logo.webp, assets/img/i-sparkle-logo@2x.webp 2x"
          />
          <source srcset="assets/img/i-sparkle-logo.png, assets/img/i-sparkle-logo@2x.png 2x" />
          <img src="assets/img/i-sparkle-logo@2x.png" i18n-alt alt="i-sparkle logo" />
        </picture>
      </a>
    </div>
    <h2 class="standalone__title accent" i18n>Create Account</h2>
    <p class="mat-body-2" i18n>Hi! This Google user already has an i-sparkle account.</p>
    <mat-card-actions>
      <button
        class="button--social-login button--google"
        color="accent"
        mat-flat-button
        (click)="socialSignIn('google')"
      >
        <img src="assets/img/icons/google-logo.svg" i18n-alt alt="Google logo" /><ng-container i18n
          >Sign in with Google</ng-container
        >
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
